<div id="concertscontainer">
    <ul id="concerts">
        <li ng-repeat="concert in ctrl.concerts"
            ng-click="ctrl.selectConcert(concert.id)">{{ concert.artist }}</li>
    </ul>
</div>
<br>

<i ng-if="!ctrl.selectedConcert">Please select a concert</i>

<div ng-if="ctrl.selectedConcert" class="concerttemplate">
    <img ng-src="{{ ctrl.selectedConcert.imgUrl }}">
    <br>
    <i class="desc">{{ ctrl.selectedConcert.desc }}</i>
    <br>
    <br>
    $ <span class="price">{{ ctrl.selectedConcert.price }}</span>
    <input ng-model="ctrl.tickets" type="number" value="1">
    <input ng-click="ctrl.book()" type="submit" value="Book now!">
</div>

